@import '../../styles/variables';

.services {
  display: flex;
  justify-content: center; /* Centraliza os itens */
  align-items: center;
  margin-top: 20px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px; /* Espaçamento lateral entre os itens */
}

.service-icon {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 20px; /* Espaço entre a imagem e o texto */
  padding: 20px;
}

.service-title {
  font-size: 14px;
  font-weight: light;
  margin-bottom: 20px;
}
