@import 'variables';


html, body, #root {
  height: 100%;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0; /* Certifique-se de que não haja margem */
  padding: 0; /* Certifique-se de que não haja padding */
}

.container {
  background-color: transparent; /* Remova o fundo do container */
}

.box{
  background-color: var(--component-background-color);
  color: var(--primary-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Pilat Extended', Courier, monospace;
}


