@import '../styles/variables';

.latest-works {
    background-color: var(--component-background-color);
    color: var(--primary-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}
