@import './styles/variables';

.biography, .services-offering, .skills-tools, .articles-publications, .work-with-me, .latest-works {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
